/* CSS Dokument PRO1000 Gruppe 3 */


html{
	scroll-behavior: smooth;

}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Sarabun', sans-serif;
}


.main{
	width: 100%;	
}

/* Giga Menu */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9	);
  overflow-x: hidden;
  transition: 1s;
}

.overlay-content {
  transition: 0.5s all ease-in-out;
}	

.overlay h1 {
  color: #818181;
}

.overlay a{
	color: #818181;
	text-decoration: none;
	padding-bottom: -10%;
}

.overlay p:hover, h1:hover, .closebtn:hover{
	color: white;
	transition: 0.2s;
}
.overlay .closebtn {
  float: right;
  margin-right: 2%;
  font-size: 60px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  margin-bottom: -10vh;
}

.boxes{
	height: 50vh;
	width: 100%;
	margin-top: 10vh;
}

.overlay-home{
	display: flex;
	width: 100%;
	height: 10vh;
	color: grey;
	justify-content: center;
	
}

.overlay-box1,.overlay-box2, .overlay-box3, .overlay-box4{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	height: 40vh;
	color: grey;
}

.overlay-box1{
	margin-left: 5%;	
}
.overlay-box2{
	float: right;
	margin-top: -40vh;
	margin-right: 5%;
}
.overlay-box3{
	margin-left: 5%;	
}
.overlay-box4{
	float: right;
	margin-top: -40vh;
	margin-right: 5%;
}
/* Header */
#header{
	display: flex;
	position: fixed;
	width: 100%;
	transition: top 0.5s;
	top: 0;
	z-index: 1;
	background: #222831;
	transition: 1s all ease-in-out;
}

#header a{
	text-decoration: none;
	color: white;
}

.link-bø, .link-porsgrunn, .link-notodden, .link-tinn, .giga-menu{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #222831;
	height: 8vh;
	width: 25%;
	color: white;
}

span > p{
	cursor: pointer;
}





/* Banner */

img{
	max-width: 100%;
}

/* Svg classes */

.my-path {
  fill:none;
  stroke: black;
  stroke-width:2;

}

#lineDrawing{
	opacity: 0;
}

/* Splitscreen */

.about{
	height: 500vh;
	display: flex;
	background: #eeeeee;
	margin-top: -0.25%;
}

.about-title{
	width: 50%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5vw;
	margin: 0!important;
}

.about-pages{
	width: 50%;
}

.about-pages div{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: white;
}

.about-pages div> p{
	width: 80%;
	font-size: 1.4vw;
	line-height: 30px;
}

.about-pages div> h2{
	font-size: 2.2vw;
}

.about-pages div:nth-child(1){
	background-image: linear-gradient(to bottom, #222831, #393e46 );
}

.about-pages div:nth-child(2){
	background-image: linear-gradient(to bottom, #393e46, #084c4f);
}

.about-pages div:nth-child(3){
	background-image: linear-gradient(to bottom, #084c4f , #0d7377);
}
.about-pages div:nth-child(4){
	background-image: linear-gradient(to bottom, #0d7377, #00adb5);
}
.about-pages div:nth-child(5){
	background-image: linear-gradient(to bottom, #00adb5, #71c9ce);
}

.intro-text-1, .intro-text-2, .intro-text-3, .intro-text-4, .intro-text-5{
	opacity: 0;
	transform: translateY(20px);
	transition: 0.5s all ease-in-out;
}

.intro-appear{
	opacity: 1;
	transform: translateY(0px);
}

/*Contacts*/

.contacts{
	height: 50vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #0d7377;
}

.child1, .child2, .child3{
	height: 25vh;
	width: 15%;	
	background: #71c9ce;
}


/* Footer */
footer{
	/*
	height: 20vh;
	background: #222831;
	display: flex;
	justify-content: center;
	align-items: center;
	*/
}

.footerparts{
	height: 30vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #222831;
	font-size: 1.3vw;

}

.footerleft{
	width: 30%;
	color: white;


}

.footerleft img{
	width: auto;
	height: auto;
	max-width: 9%;
	max-height: 9%;
}

.footerright{
	width: 30%;	
	color: white;
}










