/* CSS Dokument PRO1000 Gruppe 3 */

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


.main{

	width: 100%;
	font-family: 'Sarabun', sans-serif;
}

/* Header */
#header{
	display: flex;
	position: fixed;
	width: 100%;
	transition: top 0.5s;
	top: 0;
	z-index: 1;
}

#header a{
	text-decoration: none;
	color: white;
}

.link-home, .link-more, .link-about, .link-info{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #222831;
	height: 8vh;
	width: 25%;
}

/* Banner */

img{
	max-width: 100%;
}

/* Splitscreen */

.about{
	height: 300vh;
	display: flex;
	background: #eeeeee;
}

.about-title{
	width: 50%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5vw;
	margin: 0!important;
}

.about-pages{
	width: 50%;
}

.about-pages div{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: white;
}

.about-pages div> p{
	width: 80%;
	font-size: 1.2vw;
	line-height: 30px;
}

.about-pages div> h2{
	font-size: 2vw;
}

.about-pages div:nth-child(1){
	background-image: linear-gradient(to bottom, #222831, #0d7377);
}

.about-pages div:nth-child(2){
	background-image: linear-gradient(to bottom, #0d7377, #00adb5);
}

.about-pages div:nth-child(3){
	background-image: linear-gradient(to bottom, #00adb5, #71c9ce);
}

.intro-text-1, .intro-text-2, .intro-text-3{
	opacity: 0;
	transform: translateY(20px);
	transition: 0.5s all ease-in-out;
}

.intro-appear{
	opacity: 1;
	transform: translateY(0px);
}

/*Contacts*/

.contacts{
	height: 50vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #0d7377;
}

.child1, .child2, .child3{
	height: 25vh;
	width: 15%;	
	background: #71c9ce;
}


/* Footer */
footer{
	height: 20vh;
	background: #00adb5;
	display: flex;
	justify-content: center;
	align-items: center;
}










